<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @course.title %></h1>
  <h1 class="text-center"><%= @course.description %></h1>
  <h1 class="text-center"><%= @course.cost %></h1>
</div>